# Ignorar archivos de Visual Studio
.vs/
*.suo
*.user
*.cache
*.pdb
*.db
*.opendb
*.VC.db

# Ignorar binarios y temporales de compilación
bin/
obj/
*.exe
*.dll
*.log
*.tmp

# Ignorar dependencias descargadas
packages/
